# WeeWX wFrog report example
# Copyright (C) 2026 Marcin Kowalik <mkowalik@agh.edu.pl>
# SPDX-License-Identifier: GPL-3.0-or-later

[StdReport]
    [[WfrogReport]]
        skin = Wfrog
        enable = true
        lang = en
        unit_system = METRICWX
        HTML_ROOT = /var/www/html/wfrog
